<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div> 
        <strong>Representaciones, Servicio y Mantenimiento</strong> <br>
        <strong>RUC 1172-95-112566 dv 36</strong><br>
        Ave. Belisario Porras No 162, Edificio Reserma<br>
        Entre calle 72 y 73, San Francisco, Frente al Parque Omar 
        <div class="row">
            <div class="col-4">
                Tel.: 2637644
            </div>
            <div class="col-8">
                <p class="">
                    email: reserma@reserma.com
                </p>
                
            </div>
        </div>
    </div>

        <address class="mb-0" itemscope="itemscope" itemtype="http://schema.org/Organization">
            <div>
                    <span itemprop="name">Deco Addict</span>
            </div>
                <div itemprop="address" itemscope="itemscope" itemtype="http://schema.org/PostalAddress">
                    <!-- <div class="d-flex align-items-baseline">
                        <span class="w-100 d-block" itemprop="streetAddress">77 Santa Barbara Rd<br>Pleasant Hill CA 94523<br>United States</span>
                    </div> -->
                    <div class="d-flex align-items-baseline">
                        <span class="w-100 d-block" itemprop="streetAddress"> <strong>Atención:  </strong>Juan Perez <br> <strong>Correo electrónico:  </strong>juan@azure.com <br> <strong>Telefóno:  </strong>65232321 </span>
                    </div>
                </div>
            
        </address>


    <footer>
        <!-- <div class="col">
            <p class="col-auto col-3 mw-100 mb-2">Redes sociales:</p>
            <p class="col-auto col-3 mw-100 mb-2">Website:&nbsp;http://reserma.com</p>
            <p class="col-auto col-3 mw-100 mb-2">Instagram&nbsp;</p>
            <p class="col-auto col-3 mw-100 mb-2">Twitter:&nbsp;@reserma</p>
        </div> -->
        <div>
            
            <p class="text-center"><strong>REDES SOCIALES </strong>
                Instagram:&nbsp; @resermapty;  
                Twitter:&nbsp; @reserma;
                Página Web:&nbsp; www.reserma.com 
            </p>
        </div>
    </footer>

</body>
</html>